<!DOCTYPE html>

<html ng-app="LMS-app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title | LMS</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- Render angular/custom scripts -->
        @Scripts.Render("~/bundles/core")

        <!-- Render fontawesome icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Float +", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container-fluid content-wrapper">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        <footer class="container-fluid">
            <div class="container">
                <div class="row">
                    <hr />
                    <p>&copy; @DateTime.Now.Year This is the footer man.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/vendor")
        @RenderSection("scripts", required: false)
    </body>
</html>