<!DOCTYPE html>

<html ng-app="LMS-app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title | LMS</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- Render angular/custom scripts -->
        @Scripts.Render("~/bundles/core")

        <!-- Render fontawesome icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
        <!-- Render ionicons icons -->
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid content-wrapper">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/vendor")
        @RenderSection("scripts", required: false)
    </body>
</html>